//Drak mode colors
$dark-primary-bg: #32476B;
$dark-para-color: #DFE2E6;
$dark-heading-color: #F5F6F7;
$dark-instock-color: #9DE2CB;
//Light mode color
$light-heading-color: #333333;
$light-para-color: #5C5C5C;

.productdetail {
    width: 1479px;
    height: 699px;
    
    font-family: Montserrat;

    &.dark-mode {
        background-color: $dark-primary-bg;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        .shoe-img {
                background-color: #5D6B82;
            }
        .secondary-heading,
        .primary-heading,
        .review-text {
            color: $dark-heading-color;
        }

        .instock-text {
            color: $dark-instock-color;
        }

        .price-text {
            color: #EAEAEA;
        }

        .description-text,
        .detail-text,
        .product-detail {
            color: $dark-para-color;
        }
                .product-details:nth-child(odd) {
            background-color: #5D6B82;
        }
                .product-details:nth-child(even) {
            background-color: #7A8699;
        }

        .buy-now-button {
            color: #fff;
        }

        .addto-cart-button {
            color: #A3C0FF;
            border: 1px solid #A3C0FF;
        }

        .addto-cart-button:hover {
            background-color: #7286b3;
            transition: 0.3s all;
        }

        .quantity-button {
            background-color: $dark-primary-bg;
            color: $dark-heading-color;
        }

        .quantity-text {
            color: $dark-heading-color;
            border: 0.843988px solid #E2E2E2;
        }
        /////STYLE 2 CSS
        .tertiray-heading {
            color: $dark-heading-color;
            
        }

                             
    }
                
    &.light-mode {
        color: $light-para-color;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        .img-box{
            border: 1px solid #DFE2E6;
            background-color: #DFE2E6;
        }
        .primary-heading,
        .secondary-heading{
            color: $light-heading-color;
        }
        .instock-text{
            color: #0B825A;
        }
        .quantity-button{
            background-color: transparent;
        }
        .quantity-text{
            border: .2px solid #E2E2E2;
        }
        .shoe-detail-box label,
        .model-detail-box label,
        .color-detail-box label,
        .storage-detail-box label{
            color: $light-para-color;
        }
        [type="radio"]:checked+label {
            color: #E2E2E2;
        }  
        .buy-now-button{
            color: #fff;
        }
        .addto-cart-button{
            color: #1E65FF;
            border: 1px solid #1E65FF;
        }
        .product-details:nth-child(odd) {
            background-color: #F5F6F7;
        }

        .product-details:nth-child(even) {
            background-color: #fff;
        }
        .detail-text{
            font-style: bold;
            color: #121212;
        }
        //STYLE 2 CSS
         

    }                           
    .product-detail-box {
        display: flex;
        gap: 30px;
    }        
    .left-box {
        margin: 10px 20px 0 10px;
    }

    .selected-image {
        margin: 20px auto 30px;
    }

    .selected-shoe-img {
        margin-top: 120px;
    }

    .phone-img1 {
        margin: 60px 120px 0px;
    }

    .image-grid {
        display: flex;
        gap: 20px;
        margin: 0 90px 20px;
    }
     .phone-img {
        width: 37px;
        height: 104px;
    }
    .shoe-img {
        width: 120px;
        height: 120px;
    }                                                                  
    .phone-img1 {
        width: 338px;
        height: 416px;
    }                                                                      
    .primary-heading {
        margin-bottom: 0;
        width: 593px;
        height: 128px;
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 64px;
        /* or 123% */

        display: flex;
        align-items: center;
    }

    .review {
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 0;
    }

    .stars {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 0px;
        gap: 0.2px;
        align-items: center;
    }

    .star {
        color: goldenrod;
        width: 91.31px;
        height: 15.63px;

    }

    .review-text {
        margin-left: 0;
        font-size: 13px;
        font-weight: 500;
        line-height: 15.85px;
        padding-top: 7px;
    }

    .stock {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 12px;
    }

    .instock-img {
        width: 19.5px;
        height: 20.99px;
    }

    .price-box {
        display: flex;
        gap: 13px;
    }

    .secondary-heading {
        font-size: 35px;
        font-weight: 700;
        line-height: 29px;
        margin-top: 2px;
        font-style: normal;
    }

    .price-text {
        font-size: 13px;
        font-weight: 500;
        line-height: 15.85px;
        align-self: self-start;
    }

    .product-details-box {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .description-text {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 21px;
        width: 90%;
        height: 63px;
        margin-top: 0;
    }

        .product-details {
        display: flex;
        flex-direction: row;
        width: 90%;
        height: 31px;
        gap: 2px;
        align-items: center;
    }

    .product-detail {
        padding-left: 8px;
    }

    .product-detail,
    .detail-text {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        width: 321px;
        height: 16px;
    }


    .button-box {
        display: flex;
        gap: 30px;
        margin-top: 15px;
    }

    .buy-now-button,
    .addto-cart-button {
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-decoration: none;
        width: 103px;
        text-align: center;
        padding: 10px 0;
    }

    .buy-now-button {
        border: 1px solid #1E65FF;
        background-color: #1E65FF;
    }

    .buy-now-button:hover {
        transition: 0.3s all;
        background-color: #3574ff;
    }
    .style1-quantity-heading {
        margin-bottom: 0;
    }                                                                                                                                                                                                                                                            
    .quantity-and-size-box {
        display: flex;
        gap: 20px;
    }                                       
    .quantity-box {
        display: flex;
        flex-direction: column;
    }

    .quantity-text {
        font-family: 'Brandon Grotesque';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 15px;
        padding: 14px;
        border-radius: 12px;
    }
    .quantity-button-box {
        display: flex;
        margin-top: 0;
        gap: 5px;
        padding-top: 0;
    }                                                                                                                                                                                                                                                  
    .quantity-button {
        border: none;
        font-size: 30px;
        height: auto;
        }
    .shoe-detail-box {
        display: flex;
        gap: 20px;
        margin-top: 25px;
    }    
    .shoe-detail-box label {
        width: 120px;
        padding: 0.5rem 0;
    }
        //// STYLE 2 CSS 
    .tertiray-heading {
        font-size: 15px;
        font-weight: 600;
        line-height: 18.29px;
    }
    .model-color-box {
        display: flex;
        gap: 40px;
        }
        
    .price-button-box {
        display: flex;
        align-items: center;
        gap: 60px;
    }
        
    .model-detail-box,
    .color-detail-box,
    .storage-detail-box {
        display: flex;
    }
        
    [type="radio"] {
        border: 0;
        clip: rect(0 0 0 0);
        height: auto;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }
    [type="radio"]:checked+label {
        background-color: #1E65FF;
    }                                  
    label {
        display: grid;
        place-content: center;
        border-left: 1px solid;
        padding: 0.5rem;
        line-height: 1;
        background-color: transparent;
        color: white;
        border: 1px solid #DFE2E6;
        font-size: 17px;
        width: 96px;
        height: 22px;
        cursor: pointer;
    }                                                                           
    .storage-box {
        margin: 40px 0 20px;
    }                                   
    .style2-price-heading {
        margin-top: 50px;
    }
}                                                                               
                                        
                                                                                    
                                        
                                                                                        
                                                                                