.productGrid{
    // width: 80%;
    padding-left: 4%;
    padding-right: 4%;

    padding-top: 2%;
    padding-bottom: 2%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
}

