@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

$primary-color: #5636FA;
$secondary-color: #2B10B4;
$success-color: #21E497;
$danger-color: #FF3869;
$warning-color: #FFBB40;
$orangewarning-color: #f2a81f;
$dark-color: #010101;
$light-color: #A2ABBC;

* {
  font-family: 'Raleway', sans-serif;
}